@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: lighter;
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    background: #393939;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

.app {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.btn-border {
    background: linear-gradient(to right, red, purple);
    padding: 1px;
    width: 102px;
    height: 32px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px;
}

.logo p {
    margin-left: 10px;
}

.connect {
    background: rgb(57, 57, 57);
    color: white;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 30px;
    transition: all .1s;
}

.connect:hover {background: linear-gradient(to right, red, purple);}

.system-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.system-info label {
    margin: 10px;
}